.flip-icon {
	-fx-text-fill: white;
	-fx-font-family: "Segoe UI Symbol";
	-fx-padding: 8;
	-fx-effect: dropshadow( one-pass-box , gray , 10 , 0.7 , 0 , 0 );
}

.card-tile {
  -fx-pref-width: 10em;
  -fx-min-height: 10em;
  -fx-background-color: green;
} 
.card-tile .front {
  /* Labeled */
} 
.card-tile .back {
  /* VBox */
} 

/*
 * CharacterViewScreen
 */
.character-view-screen .section-block {
  -fx-pref-width: 12em;
  -fx-background-color: red;
}

.drop-target {
  -fx-background-color: blue;
  -fx-scale-x: 0.8;
  -fx-scale-y: 0.8;
}